* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

// TODO: Add padding
.left-section, .right-section {
    width: 50%;
    display: inline-block;
}

.password-list-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid black;
}

.password-list-item:hover {
    background-color: rgba(0,0,0,.1);
}

.form-input {
    display: block;
}
