// TODO: upon successful authentication, auth prompt should slide from left to right into 
// right section (password display) in a snappy and satisfying animation

.overlay.auth-prompt {
    z-index: 2;
    background-color: #fff;

    .auth-form {
        label {
            display: block;
        }

        .error {
            color: #f00;
        }

        .auth-pin-char-input {
            display: inline-block;
            width: 1em;
        }
    }
}

// TODO: if user leaves incorrect PIN for longer than 1500ms(?), PIN input should shake 
// and display error message "incorrect PIN"